<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistic Section</title>
    <link rel="stylesheet" href="../../output.css">
</head>

<body>
    <section class="w-full bg-gray-300 mt-3 py-6">
        <div class="max-w-full grid grid-rows-2 gap-0 md:gap-2 justify-items-center items-center pb-3 md:pb-9 ">
            <div class="text-center">
                <h2 class="text-lg">Trusted by teams worldwide</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quod, fugit atque, itaque, molestias
                    officia veritatis non porro ratione repellendus ex placeat deserunt neque soluta.</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 md:gap-9 px-5">
                <div class="stats-card">
                    <h2 class="font-bold text-4xl pb-4">12M+</h2>
                    <p>Active Users</p>
                </div>
                <div class="stats-card">
                    <h2 class="font-bold text-4xl pb-4">380+</h2>
                    <p>Enterprise Partners</p>
                </div>
                <div class="stats-card">
                    <h2 class="font-bold text-4xl pb-4">98%</h2>
                    <p>Customer Satisfaction</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>