@import "tailwindcss";

@utility features-card {
  @apply bg-white shadow-md hover:shadow-xl w-full md:w-64 lg:w-72 p-8 rounded-lg flex flex-col hover:scale-105 transition duration-300 ease-in-out;
}

@utility pricing-card {
  @apply w-64 h-96 rounded-xl shadow-lg hover:shadow-2xl hover:scale-105 transition-all duration-300 ease-in-out border border-gray-400 grid grid-rows-2 text-white;
}

@utility top-half {
  @apply text-left bg-indigo-500 rounded-t-xl pt-4 px-4 flex flex-col;
}

@utility bottom-half {
  @apply text-left text-black pt-4 px-4 flex flex-col;
}

@utility stats-card {
  @apply w-48 bg-gray-500 flex flex-col items-center text-center px-8 py-8 shadow-sm hover:shadow-lg transition-transform duration-300 ease-in-out hover:scale-125 rounded-lg text-xl;
}
