<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ Accordion</title>
    <link rel="stylesheet" href="../../output.css">
</head>

<body class="bg-[#22262B] text-white p-8">
    <h1 class="text-center text-white text-3xl">Frequently Asked Questions</h1>
    <div class="mx-auto w-1/2 mt-8 flex flex-col gap-4">
        <div
            class="bg-[#323741] w-full grid grid-rows-2 items-center py-6 px-8 rounded-lg shadow-xl hover:shadow-2xl hover:-translate-y-1.5 hover:scale-105 transition-all duration-300 ease-in-out">
            <div class="flex flex-row items-center">
                <h2 class="text-2xl flex-10/12">What is an NFT?</h2>
                <div class="text-2xl ">
                    +
                </div>
            </div>
            <div class=" mt-6">
                hi
            </div>
        </div>
        <div
            class="bg-[#323741] w-full grid grid-rows-2 items-center py-6 px-8 rounded-lg shadow-xl hover:shadow-2xl hover:-translate-y-1.5 hover:scale-105 transition-all duration-300 ease-in-out">
            <div class="flex flex-row items-center">
                <h2 class="text-2xl flex-10/12">What is a wallet? Why do I need one?</h2>
                <div class="text-2xl">
                    +
                </div>
            </div>
            <div class="hidden active:block mt-6">
                hi
            </div>
        </div>
        <div
            class="bg-[#323741] w-full grid grid-rows-2 items-center py-6 px-8 rounded-lg shadow-xl hover:shadow-2xl hover:-translate-y-1.5 hover:scale-105 transition-all duration-300 ease-in-out">
            <div class="flex flex-row items-center">
                <h2 class="text-2xl flex-10/12">How much does it cost to create an NFT?</h2>
                <div class="text-2xl">
                    +
                </div>
            </div>
            <div class="hidden mt-6">
                hi
            </div>
        </div>
        <div
            class="bg-[#323741] w-full grid grid-rows-2 items-center py-6 px-8 rounded-lg shadow-xl hover:shadow-2xl hover:-translate-y-1.5 hover:scale-105 transition-all duration-300 ease-in-out">
            <div class="flex flex-row items-center">
                <h2 class="text-2xl flex-10/12">How much does it cost to create an NFT?</h2>
                <div class="text-2xl">
                    +
                </div>
            </div>
            <div class="hidden mt-6">
                hi
            </div>
        </div>
    </div>
</body>

</html>