<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Section</title>
    <link rel="stylesheet" href="../../output.css">
</head>

<body class="bg-indigo-950">
    <div class="w-3/4 mx-auto border border-gray-700 mt-20 flex flex-col items-center gap-12">
        <div class="my-8 flex flex-col gap-2 items-center">
            <h1 class="text-white text-4xl">A plan for every need</h1>
            <p class="text-white text-l">Safety trade, earn, & borrow digital assets with top-tier security</p>
        </div>
        <div class="flex flex-col md:flex-row justify-around mb-8 gap-6">
            <div class="pricing-card">
                <div class="top-half">
                    <p class="text-sm mb-3">Basic Plan</p>
                    <h2 class="text-5xl mb-3">$10<span class="text-sm">per month</span></h2>
                    <p class="text-sm mb-3">Basic features for up to 10 users.</p>
                    <a class="mx-auto bg-indigo-400 py-2 px-12 rounded-lg hover:bg-blue-500 transition-colors duration-150 ease-in-out"
                        href="#">Choose Plan</a>
                </div>
                <div class="bottom-half">
                    <p>Features</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="pricing-card -translate-y-8">
                <div class="top-half bg-pink-500">
                    <p class="text-sm mb-3">Business Plan</p>
                    <h2 class="text-5xl mb-3">$20<span class="text-sm">per month</span></h2>
                    <p class="text-sm mb-3">Growing teams up to 20 users.</p>
                    <a class="mx-auto bg-indigo-400 py-2 px-12 rounded-lg hover:bg-blue-500 transition-colors duration-150 ease-in-out"
                        href="#">Choose Plan</a>
                </div>
                <div class="bottom-half">
                    <p>Features</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="pricing-card">
                <div class="top-half">
                    <p class="text-sm mb-3">Enterprise Plan</p>
                    <h2 class="text-5xl mb-3">$40<span class="text-sm">per month</span></h2>
                    <p class="text-sm mb-3">New features + unlimited users.</p>
                    <a class="mx-auto bg-indigo-400 py-2 px-12 rounded-lg hover:bg-blue-500 transition-colors duration-150 ease-in-out inline-block"
                        href="#">Choose Plan</a>
                </div>
                <div class="bottom-half">
                    <p>Features</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>