<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Section</title>
    <link rel="stylesheet" href="../../output.css">
</head>

<body class="text-xl">
    <header>
        <section
            class="flex flex-wrap md:flex-nowrap justify-around gap-8 bg-gray-300 w-full py-4 px-8 h-screen items-center">
            <div>
                <h1 class="md:text-3xl font-bold mb-2">Build Better Interfaces</h1>
                <p class="mb-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae similique ad amet
                    labore quis, nulla dolore quasi esse rerum minus.</p>
                <ul class="flex gap-6 ">
                    <li><a class="bg-blue-300 hover:bg-blue-500 py-4 px-8 rounded-md inline-block" href="#">Get
                            Started</a></li>
                    <li><a class="bg-blue-300 hover:bg-blue-500 outline-2 py-4 px-8 rounded-md inline-block" href="#">
                            Learn More</a></li>
                </ul>
            </div>
            <div>
                <img src="https://cdn.pixabay.com/photo/2016/03/31/18/40/icons-1294545_960_720.png" alt="">
            </div>
        </section>
    </header>
</body>

</html>