<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features Grid</title>
    <link rel="stylesheet" href="../../output.css">
</head>

<body class="text-black font-bold">
    <div class="container mx-auto w-3/4 mt-12">
        <h1 class="text-6xl text-center ">Features</h1>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-6 mt-8 items-center justify-items-center">
            <div class="features-card">
                <ion-icon class="text-[#344E93] text-xl mb-2" name="return-up-back-outline"></ion-icon>
                <h5 class="mb-2">Undo tweet</h5>
                <p class="font-light text-sm">Discard your last tweet or re-edit it, quickly with shortcuts</p>
            </div>
            <div class="features-card">
                <ion-icon class="text-[#344E93] text-xl mb-2" name="bookmark-outline"></ion-icon>
                <h5 class="mb-2">Saved links</h5>
                <p class="font-light text-sm">Bookmark interesting links to re-visit them later whenever you want</p>
            </div>
            <div class="features-card">
                <ion-icon class="text-[#344E93] text-xl mb-2" name="reader-outline"></ion-icon>
                <h5 class="mb-2">Reader view for links</h5>
                <p class="font-light text-sm">Quickly read links shared in tweets in a beautiful reader mode UI</p>
            </div>
            <div class="features-card">
                <ion-icon class="text-[#344E93] text-xl mb-2" name="pie-chart-outline"></ion-icon>
                <h5 class="mb-2">Tweet analytics</h5>
                <p class="font-light text-sm">Insights for your tweets to help you increase engagement</p>
            </div>
            <div class="features-card">
                <ion-icon class="text-[#344E93] text-xl mb-2" name="play-outline"></ion-icon>
                <h5 class="mb-2">Quick media preview</h5>
                <p class="font-light text-sm">Quickly preview photos, videos and GIFs in full aspect-ratio on hover</p>
            </div>
            <div class="features-card">
                <ion-icon class="text-[#344E93] text-xl mb-2" name="bulb-outline"></ion-icon>
                <h5 class="mb-2">Draft tweets</h5>
                <p class="font-light text-sm">Save tweet and thread drafts and post them whenever you want to</p>
            </div>
            <div class="features-card">
                <ion-icon class="text-[#344E93] text-xl mb-2" name="reorder-three-outline"></ion-icon>
                <h5 class="mb-2">Threads</h5>
                <p class="font-light text-sm">Post your long-form thoughts quickly with thread tweets</p>
            </div>
            <div class="features-card">
                <ion-icon class="text-[#344E93] text-xl mb-2" name="logo-twitter"></ion-icon>
                <h5 class="mb-2">Twitter preview</h5>
                <p class="font-light text-sm">See how yout tweet/thread would look on Twitter before posting</p>
            </div>
            <div class="features-card">
                <ion-icon class="text-[#344E93] text-xl mb-2" name="notifications-outline"></ion-icon>
                <h5 class="mb-2">Browser notifications</h5>
                <p class="font-light text-sm">Get browser notifications of new mentions so you don't miss anything</p>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>