<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body>
    <footer class="bg-gray-900 text-white grid justify-items-center grid-cols-1 md:grid-cols-4 gap-4 py-10 w-full">
        <div class="text-center font-bold text-2xl">
            MyBrand
        </div>
        <div class="text-center">
            <ul class="flex flex-col md:flex-row gap-3">
                <li><a class="hover:underline" href="#">Home</a></li>
                <li><a class="hover:underline" href="#">About</a></li>
                <li><a class="hover:underline" href="#">Contact</a></li>
                <li><a class="hover:underline" href="#">Services</a></li>
                <li><a class="hover:underline" href="#">Demo</a></li>
            </ul>
        </div>
        <div class="text-center">
            <ul class="flex flex-col md:flex-row gap-3">
                <li><a class="hover:underline" href="#">Privacy Policy</a></li>
                <li><a class="hover:underline" href="#">Terms & Conditions</a></li>
                <li><a class="hover:underline" href="#">Admin</a></li>
                <li><a class="hover:underline" href="#">Audit</a></li>
                <li><a class="hover:underline" href="#">Accounts</a></li>
            </ul>
        </div>
        <div class="text-center">
            <ion-icon class="text-2xl px-2" name="logo-instagram"></ion-icon>
            <ion-icon class="text-2xl px-2" name="logo-facebook"></ion-icon>
            <ion-icon class="text-2xl px-2" name="logo-snapchat"></ion-icon>
            <ion-icon class="text-2xl px-2" name="logo-whatsapp"></ion-icon>
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>