<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="../../output.css">
</head>

<body>
    <div class="container mx-auto border border-gray-400 p-4 mt-8">
        <form class="flex flex-col w-2/3 items-center gap-12 shadow-lg rounded-lg mx-auto py-10 px-8" action="#">
            <h1 class="text-6xl font-bold">Contact Us</h1>
            <div class="flex flex-row w-full px-6">
                <label class="text-2xl px-6" for="name">Name:</label>
                <input
                    class="border-2 w-full rounded-2xl focus:border-gray-700 focus:outline-0 px-2 py-2 placeholder:text-gray-400"
                    id="name" placeholder="Name" type="text">
            </div>
            <div class="flex flex-row w-full px-6">
                <label class="text-2xl px-6" for="name">Email:</label>
                <input
                    class="border-2 w-full rounded-2xl focus:border-gray-700 focus:outline-0 px-2 py-2 placeholder:text-gray-400"
                    id="email" placeholder="Email" type="email">
            </div>
            <div class="flex flex-row w-full px-6">
                <label class="text-2xl px-6" for="name">Message:</label>
                <textarea
                    class="border-2 w-full rounded-2xl focus:border-gray-700 focus:outline-0 px-2 py-2 placeholder:text-gray-400"
                    id="message" placeholder="Message" type="text"></textarea>
            </div>
            <button
                class="rounded-md bg-gray-400 px-10 py-4 transition-all duration-300 ease-in-out hover:bg-gray-700 hover:-translate-y-1.5 hover:scale-105"
                type="submit">Submit</button>
        </form>
    </div>
</body>

</html>