<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonial Card</title>
    <link rel="stylesheet" href="../../output.css">
</head>

<body class="bg-gray-50">
    <main>
        <section class="w-full md:max-w-md mx-auto mt-32">
            <div
                class="rounded-lg p-8 shadow-lg bg-white border border-gray-200 flex flex-col gap-y-4 items-center transition-all duration-300 ease-in-out hover:shadow-2xl hover:scale-105 ">
                <img class="w-16 h-16 rounded-full"
                    src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_960_720.png">
                <div class="text-center">
                    <p class="font-semibold text-lg">Seth Nkwo</p>
                    <p class="text-sm text-gray-500">Python Developer</p>
                </div>
                <div class="text-center max-w-xs">
                    <p class="text-base italic">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro vel
                        officiis non eligendi natus odio?</p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>